*.o
*.cmd
.config
.config.old
include/config
include/generated
vmlinux
System.map
.missing-syscalls.d
Module.symvers
Image
asm-offsets.s
cross-tools/
include/linux/version.h
devicetable-offsets.s
kernel/bounds.s
vmlinux.lds
quick_start.sh
0z1.md
.cache/
.vscode/
